.fs10 {
   font-size: 10px;
}
.fs12 {
   font-size: 12px;
}
.fs13 {
   font-size: 13px;
}
.fs18 {
   font-size: 18px;
}
.fs16 {
   font-size: 16px;
}
.fs21 {
   font-size: 21px;
}
.fw-600 {
   font-weight: 600;
}
.mh-100 {
   min-height: 100vh;
}
.z-index {
   z-index: 99;
}
.form-label {
   margin-bottom: 0.75rem;
}
.text-dark {
   color: var(--text-color-dark) !important;
}
.text-black {
   color: var(--light-dark);
}
.text-333 {
   color: var(--black);
}
.ff-bronova {
   font-family: var(--body-font);
}
.text-gray {
   color: var(--gray);
}
