.nav-link {
   font-size: 14px;
   padding: 0.25rem 0.5rem;
   color: var(--navlink);
   width: 100%;
   font-family: var(--body-font) !important;

   img {
      width: 24px;
   }

   &.active {
      font-weight: 600;
   }
}
