@media screen and (max-width: 480px) {
    #iotDeviceTable .overflow-x-scroll { 
        overflow-x:hidden!important;
        white-space: break-spaces;
    }
}

@media screen and (min-width: 460px) {
    #iotDeviceTable .overflow-x-scroll { 
        max-width: 40ch;
        min-width: 40ch
    }
}


