.IOTForm .IOTFormLeft {
   width: 70%;
}

.IOTForm .IOTFormLeft h1 {
   font-size: 35px;
}

.IOTForm .IOTFormLeft input:focus {
   border-color: #ced4da;
}

.IOTForm .IOTFormLeft input::placeholder {
   font-size: 15px;
}

.IOTForm .IOTFormLeft i {
   position: absolute;
   right: 0;
   top: 50%;
   transform: translateY(-50%);
}

.IOTForm .IOTFormLeft a {
   color: #3a3e42;
}

.IOTForm .IOTFormLeft button {
   background: linear-gradient(45deg, #3c338d, #6486cf);
   border-radius: 30px;
}

.IOTForm .IOTFormLeft p span {
   color: #007bff;
}

.IOTForm .IOTFormRight {
   background-image: url('https://wallpaper.dog/large/20407836.jpg');
   height: 450px;
   background-size: cover;
   background-position: center;
}

.IOTForm .IOTFormRight:after {
   content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   background: linear-gradient(45deg, #3c338d, #6486cf);
   opacity: 0.5;
}

.IOTForm .IOTFormRight h2 {
   z-index: 1;
}

.IOTForm .IOTFormRight h2::after {
   content: '';
   position: absolute;
   width: 100%;
   height: 2px;
   background-color: #fff;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
}

.IOTForm .IOTFormRight p {
   z-index: 1;
}