.group-details {
   position: absolute !important;
   bottom: 50%;
   transform: translateY(50%);
   right: 50%;

   @media (max-width: 1333px) {
      right: unset;
      left: 100%;
      bottom: 0 !important;
      transform: none;
   }

   @media (max-width: 400px) {
      right: unset;
      bottom: calc(100% + 10px) !important;
      left: 0;
      transform: none;
   }

   &.card {
      z-index: 10 !important;
   }

   &.fade {
      visibility: hidden;
   }
   &.show {
      visibility: visible;
   }
}
