.loading-spinner {
   position: fixed;
   inset: 0;
   z-index: 1000;
   background: rgba(#fff, 0.75);
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 2rem;
   height: 100%;
   color: #000;
   font-size: 1.2rem !important;
   transition: background-color 2s;

   & h6 {
      transform: translateY(30%);
      font-weight: bold;
   }

   & .spinner-border {
      vertical-align: 0 !important;
      color: var(--brand);
   }
}
