.create__password__wrapp.auth__wrapper {
   .form__wrapp {
      max-width: 450px;
   }
}
.btn-outline-secondary {
   padding: 0.4rem 1.2rem 0.2rem 1.2rem;
   font-family: var(--body-font);
   background-color: var(--brand);
}
#changePasswordModal{
   height: min-content !important;
   .action-group {
      display: flex;
      flex-direction: row;
      gap: 2.5rem;
      .btn {
         padding: 0.4rem 2.5rem 0.2rem 2.5rem;
      }
  }
}
@media screen and (max-width:560px) {
   #changePasswordModal{
      #password-change-info{
         display: none;
      }
      .action-group {
         justify-content: space-evenly;
         gap: 0rem !important;

      }
   }
   
}