.dialog {
   position: fixed;
   top: 50%;
   left: 50%;
   width: 75ch;
   transform: translate(-50%, -50%);
   background: #fff;
   /* font-size: 2rem; */
   display: flex;
   flex-direction: column;
   gap: 4rem;
   padding: 3rem 5rem;
   max-height: 70vh;
   max-width: 90%;
   overflow-y: scroll;
}
.dialog-header {
   display: flex;
   justify-content: space-between;
   padding-bottom: 2rem;
   border-bottom: 1px solid #f1f1f1;
}
.dialog-footer {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.i-accept {
   display: flex;
   gap: 1rem;
   align-items: center;
}
